@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1024px) {
    .main{
        width: 75%;
    }
}

@media only screen and (max-width: 815px) {
    .main{
        width: 95%;
    }
    .heading1{
        font-size: 20px;
    }
    .heading2{
        font-size: 18px;
    }
    .url,.username,.password{
        font-size: 15px;
    }
}

@media only screen and (max-width: 640px){
    table{
        font-size: 12px;
    }
    .icons{

    }

}
  